<%= form_for [:admin, @product] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

   <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

   <p>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </p>

   <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>

    <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>
  <%= f.submit %>
<% end %>