<div class="show_products">
	<h2><%= @product.name %></h2>
		<p>
			<%= @product.price %>
			<%= @product.size %>
			<%= @product.brand %>
		</p>
		<p>
			<img src="<%= @product.image %>">
		</p>

		<p>
			<%= @product.description %>
		</p>
</div>