<div class="show_products">
<!-- 	<h2><%#= @product.name %></h2> -->
		<p><%= '$'@product.price %></p>
			<p><%= @product.size %></p>
			<p><%= @product.brand %></p>
		<div class="img">
			<img src="<%= @product.image %>">
		</div>

		<p>
			<%= @product.description %>
		</p>
</div>