<h1>Order Successfully Placed</h1>

<h2>Details are as follows</h2>

<div class="order_details">
    Streetline 1: <%= @order.streetline1 %></br>
    Streetline2: <%= @order.streetline2 %></br>
    Suburb: <%= @order.suburb %></br>
    State: <%= @order.state %></br>
    Postcode: <%= @order.postcode %></br>
    Country: <%= @order.country %></br>
    Phone: <%= @order.phone %></br>
</div>


<tr class="product">
      <td><%= image_tag(product.image) %></td>
      <td><%#= product.name %></td>
      <!-- <td class="qty"><%#= product.quantity %></td> -->
      <td class="price">$<%#= product.price %></td>
</tr>
 