<h2>Details are as follows</h2>

<div class="order_details">
    Streetline 1: <%= @order.streetline1 %></br>
    Streetline2: <%= @order.streetline2 %></br>
    Suburb: <%= @order.suburb %></br>
    State: <%= @order.state %></br>
    Postcode: <%= @order.postcode %></br>
    Country: <%= @order.country %></br>
    Phone: <%= @order.phone %></br>
</div>

<%= form_for @order, url: payment_order_path(@order), method: :patch do |f| %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_YzXqiKdBh2eMc2oTFPltAJZR"
    data-amount="<%#= @cart.total_price %>"
    data-name="Sydney Sister"
    data-description="<%#= @cart.total_price %><%#= @cart%>"
    data-image="https://scontent-b-nrt.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10451798_724918590907954_6574945377185610027_n.png?oh=72a01285b92829f700e7f7f9e228332e&oe=54ECA5ED">
  </script>
  <%= f.submit %>
<% end %>




 