
 
  <% @cart_products.each do |product| %>
      <%= link_to product do %>
        <%= image_tag @product.image %>
      <% end %>
	 <%= @product.name %>
      <%=link_to "" , data: {targetUrl: remove_from_cart_path(product)} do %>
        <i class="fi-x right"></i>
      <% end %>
      <h3 class="scale">$ <%= @product.price %></h3>
  <% end %>

