<%= form_for [:admin, @product] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

   <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

   <p>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </p>

   <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>

  <p>
    <%= f.label :image1 %>
    <%= f.text_field :image1 %>
  </p>

  <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
  </p>


<!--
<div class="checkbox">
<%= form_tag(admin_categories_path, method: :post) do %>
  Categories: <br/>
    <ul>
      <% Category.all.each do |category| %>
      <li class="item"><%= check_box_tag "admin_categories[category_ids][]", category.id, false, id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %></li><br>
      <% end %>
    </ul>
<%= submit_tag('Assign Category') %>
<% end %>
-->
  
  <%= f.submit %>
<% end %>