<h2><%= @product.name %></h2>

<div class="show_products">
	<h2><%= @product.name %></h2>
		<p>
			<%= @product.price %>
			<%= @product.size %>
			<%= @product.brand %>
		</p>
		<div class="img">
			<img src="<%= @product.image %>">
		</div>

		<p>
			<%= @product.description %>
		</p>
</div>





<%= link_to 'Edit', edit_admin_product_path(@product) %>
<%= link_to 'Delete', [:admin, @product], :method => :delete, :data => { :confirm => 'Are you sure?' } %>

<br />

<%= link_to 'Back', admin_products_path %>
