<div class="show_products">
	<h2><%= @product.name %></h2>
			<p>$ <%= @product.price %></p>
			<p>Size: <%= @product.size %></p>
			<p>Brand: <%= @product.brand %></p>
		<div class="img">
			<img src="<%= @product.image %>">
		</div>

		<p>Description: <%= @product.description %></p>
</div>

<%= link_to 'Edit', edit_admin_product_path(@product) %>
<%= link_to 'Delete', [:admin, @product], :method => :delete, :data => { :confirm => 'Are you sure?' } %>

<br />

<%= link_to 'Back', admin_products_path %>
