<div class="products-index">
  <ul>
    <li>


	<h2><%= Category.name %></h2>
    <ul>
      <li>
    		<% @products.each do |product| %>
        <div class="product_box">
    			<div class="product-image">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <%= image_tag product.image %>
                </div>
                <div class="back">
                  <%= image_tag product.image1 %>      
                </div>
              </div>
            </div>
    	 		</div>
          <h2>
            <%= link_to product.name, product_path(product) %>
          </h2>
          <p class="product-info">
            $<%= product.price %></br>
            <%= product.brand %>
          </p>

      </div>
      <% end %>
    </li>
  </ul>
</div>


