<div class="products-index">
	<h2>All Products</h2>
    <ul>
      <li>
    		<% @products.each do |product| %>
    			<div class="product-image">
<!--     	 			<img src="<%#= product.image %>"> -->
            <%= image_tag product.image %>
    	 		</div>
          <h2>
            <%= link_to product.name, product_path(product) %>
          </h2>
          <p class="product-info">
            <%= product.price %></br>
            <%= product.brand %>
          </p>

          <div>
            <%= form_for(CartProduct.new(product_id: product.id)) do |f| %>
              <%= f.hidden_field :product_id %>
              <%= f.submit 'Add to cart' %>
            <% end %>
          </div>
     			<div class="link">
     				<%#= link_to product.name %>
     			</div>
        <% end %>
      </li>
    </ul>
</div>


