# add/remove cart

<h2>My Cart</h2>
<p class="cart-selection"> You've selected <span class="cart-count"><%= @current_user.cart_count %></span> products.</p>
 
  <% @cart_products.each do |product| %>
      <%= link_to product do %>
        <%= image_tag @product.image %>
      <% end %>
	 <%= @product.name %>
      <%=link_to "" , data: {targetUrl: remove_from_cart_path(product)} do %>
        <i class="fi-x right"></i>
      <% end %>
      <h3 class="scale">$ <%= @product.price %></h3>
  <% end %>

# show product info

<div class="showproducts">
<!-- <h2><%#= @product.name %></h2> -->
	<div class="product-image">
		<img src="<%= @product.image %>">
	</div>
</div>	

<div class="product_name">
		<%= @product.name %>
	</div>
</div>


# tab widget
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Details</a></li>
    <li><a href="#tabs-2">Size guide</a></li>
    <li><a href="#tabs-3">Shipping & Payment</a></li>
  </ul>
  <div id="tabs-1">
    <p><%= @product.description %></p>
  </div>
  <div id="tabs-2">
    <p>this will be a size guide table.</p>
  </div>
  <div id="tabs-3">
    <p>This will be about shipping anad payment.</p>
  </div>
</div>
<div class="clear"></div>
 
</body>
</html>
