<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	  <title>Sydney Sister</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
  </head>

  <body class="sydney-sisters">
  	<div class="container">

		 	<header>
		 		<ul class="inline-list">
			  	<% if @current_user.present? %>
		  			<li><%= link_to 'Home', root_path %></li>
		  			<li><%= link_to 'Shop', products_path %></li>
		  			<li><%= link_to 'FAQ', faq_path %></li>
		  			<li><%= link_to 'Blog', blog_path %></li>
		  			<li><%= link_to 'Contact', contact_path %></li>
		  			<li><%= link_to 'Edit profile', edit_user_path(@current_user) %></li>
		  			<li><%= link_to 'Cart', cart_path(@current_user) %></li>
		  			<li><%= link_to "Sign out #{@current_user.firstname}", new_session_path, method: :delete, data: { confirm: 'Are you sure?'} %></li>
		  		<% if @current_user.admin %>
		  				<li><%= link_to 'Add product', new_admin_product_path %></li>
		  			<% end %>
			  	<% else %>
			  		<li><%= link_to 'Home', root_path %></li>
						<li><%= link_to 'Sign up', new_user_path %></li>
						<li><%= link_to 'Login', new_session_path %></li>
						<li><%= link_to 'Shop', products_path %></li>
						<li><%= link_to 'About', about_path %></li>
						<li><%= link_to 'FAQ', faq_path %></li>
						<li><%= link_to 'Blog', blog_path %></li>
						<li><%= link_to 'Contact', contact_path %></li>
			  	<% end %>
		  	</ul>
		  	<a class="header-image" href="<%= root_url %>">
		  		<img id="header-img" class="sydney-sisters-header" src="http://i.imgur.com/yUpKyKn.png" />
		  	</a>


		  	<nav class="top-bar" data-topbar role="navigation">
		  		<section class="top-bar-section">
		  			<ul class="left">
 		  				<li><%#= link_to "New In", products_path(category: category.name) %></li>
		  					<li class="has-dropdown"><%= link_to "Dresses", products_path(category: "Casual Dresses") %>
									<ul class="dropdown">
										<li><%= link_to "Party Dresses", products_path(category: "Party Dresses") %></li>
										<li><%= link_to "Maxi Dresses", products_path(category: "Maxi Dresses") %></li>
										<li><%= link_to "Casual Dresses", products_path(category: "Casual Dresses") %></li>
									</ul>
								</li>
							<li class="has-dropdown"><%= link_to "Tops", products_path(category: "Tops") %>
								<ul class="dropdown">
									<li><%= link_to "Party Tops", products_path(category: "Party Tops") %></li>
									<li><%= link_to "Casual Tops", products_path(category: "Casual Tops") %></li>
									<li><%= link_to "T-Shirts", products_path(category: "T-Shirts") %></li>
									<li><%= link_to "Long Sleeved", products_path(category: "Long Sleeved") %></li>
									<li><%= link_to "Crop Tops", products_path(category: "Crop Tops") %></li>
								</ul>
							</li>
							<li class="has-dropdown"><%= link_to "Bottoms", products_path(category: "Bottoms") %>
								<ul class="dropdown">
									<li><%= link_to "Jeans", products_path(category: "Jeans") %></li>
									<li><%= link_to "Shorts", products_path(category: "Shorts") %></li>
									<li><%= link_to "Skirts", products_path(category: "Skirts") %></li>
									<li><%= link_to "Pants", products_path(category: "Pants") %></li>
								</ul>
							</li>
							<li><%= link_to "Playsuits", products_path(category: "Playsuits") %></li>
							<li class="has-dropdown"><%= link_to "Accessories", products_path(category: "Accessories") %>
								<ul class="dropdown">
									<li><%= link_to "Bags", products_path(category: "Bags") %></li>
									<li><%= link_to "Jewellery", products_path(category: "Jewellery") %></li>
									<li><%= link_to "Shoes", products_path(category: "Shoes") %></li>
								</ul>
							</li>
							<li class="has-dropdown"><%= link_to "Outerwear", products_path(category: "Outerwear") %>
								<ul class="dropdown">
									<li><%= link_to "Jackets", products_path(category: "Outerwear") %></li>
									<li><%= link_to "Coats", products_path(category: "Coats") %></li>
									<li><%= link_to "Kimonos", products_path(category: "Kimonos") %></li>
									<li><%= link_to "Knitwear", products_path(category: "Knitwear") %></li>
								</ul>
							</li>
							<li><%= link_to "Sale", products_path(category: "Sale") %></li>
						</ul>
					</section>
				</nav>
		  </header>

<div class="clear"></div>






<%= yield %> 



<%# FACEBOOK LINK IN FOOTER - FOR SOME REASON HAS TO GO HERE ? (according to fb) %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</script>

<footer>
	<div class="row">
		<div class="column small-12 medium-6 large-3">
			<h3>Stay Connected</h3>
				<a href="https://twitter.com/sydney_sister"><img src="http://i.imgur.com/uTsRGMO.png"/></a>
				<a href="http://www.facebook.com/sydneysister"><img src="http://i.imgur.com/zbv7QNb.png"/></a>
				<a href="http://sydneysister.tumblr.com"><img src="http://i.imgur.com/YQXooXp.png"/></a>
				<a href="http://pinterest.com/sydneysister"><img src="http://i.imgur.com/DWhK1TO.png"/></a>
				<a href="http://instagram.com/sydney_sister"><img src="http://i.imgur.com/RYBC1lz.png"/></a>
		</div>
		<div class="column small-12 medium-6 large-3">
			<h3>Customer Care</h3>
				<li><%= link_to "Contact Us", contact_path %></li>
				<li><%= link_to "Shipping", shipping_path %></li>
				<li><%= link_to "Sizing Information", sizing_path %></li>
				<li><%= link_to "Returns/Exchanges", returns_path %></li>
				<li><%= link_to "Payments", paymentinfo_path %></li>
		</div>
		<div class="column small-12 medium-6 large-3">
			<h3>About</h3>
				<li><%= link_to "About us", about_path %></li>
				<li><%= link_to "Blog", blog_path %></li>
				<li><%= link_to "Competitions", competitions_path %></li>
		</div>
		<div class="column small-12 medium-6 large-3">
			<div class="fb-like-box" data-href="https://www.facebook.com/sydneysister" data-width="350px" data-colorscheme
			="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false">
		</div>
		<div class="clear"></div>
	</div>
</footer>


	  </div>
<%= javascript_include_tag 'application' %>
<!-- DO NOT DELETE THIS JACQUI YA FEG -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  </body>
</html>
