<!DOCTYPE html>
<html>
<head>
  <title>Sydney Sister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="navigation-bar">
		<div class="top-navigation">
		<nav class="top-nav-bar">
	    <ul>
	      <li><%= link_to('Home', root_path) %></li>
	      <%== intellinav %>
			</ul>
		</nav> 


		<div class="second-nav-bar">
			<a href="http://www.sydneysister.com"><img src="http://i.imgur.com/yUpKyKn.png" id="header-img"/> </a>
 			<nav class="nav-bar-2">
				<ul>
					<li><%= link_to "New In", about_path %></li>
					<li><%= link_to "Dresses", about_path %></li>
					<li><%= link_to "Tops", about_path %></li>
					<li><%= link_to "Bottoms", about_path %></li>
					<li><%= link_to "Playsuits", about_path %></li>
					<li><%= link_to "Accessories", about_path %></li>
					<li><%= link_to "Outerwear", about_path %></li>
					<li><%= link_to "Sale", about_path %></li>
					<div class="clear"></div>
  			</ul>
  			<div class="menu-bar"></div>
			</nav>
		</div>
	</div> 
</div>
	</header>

	<%= yield %>

</body>
</html>
